/*CSS Document*/
html,
body,
h1 {
  margin: 0;
}

header {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #cdcdcd;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 19px;
  padding-left: 14px;
  padding-bottom: 19px;
  padding-right: 14px;
}

.canto-superior {
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.fa {
  color: #cdcdcd;
}

.conteudo {
  justify-content: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.loja {
  color: #b5b5b5;
  font-size: 10pt;
}

.box-conteudo-login,
.box-conteudo-entrada {
  width: 40vw;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  border-top: 1pt solid;
  border-color: #cdcdcd;
  color: #b5b5b5;
  text-align: center;
  padding-top: 8.5pt;
  max-height: 40px;
}

footer p {
  margin: 0;
  font-size: 0.8em;
}
  .opcao-final {
      display: flex;;
      justify-content: space-between;
      width: 100%;  
      margin-top: 20pt;
    }
    .posso-ajudar {
      display:flex;
      align-items: center;
    }
    .img-ajuda {
      width: 37pt;
      margin-left: 20pt;
    }
    .texto-ajuda {
      border-top: 1.5pt solid;
      border-left: 1.5pt solid;
      border-right: 1.5pt solid;
      border-bottom: 1.5pt solid;
      padding: 5pt;
      border-color: #00A59D;
      position: relative;
    }
    .texto-ajuda:after {
      content: "";
      width: 0;
      height: 0;

      position: absolute;

      border-left: 20px solid #00A59D ;
      border-right: 20px solid transparent;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    
      bottom: 4px;
      left: 100%;

    }
    .conteudo-extra {
      display: flex;
      justify-content: center;
      color: #7F7F7F;
      margin-top: 30pt;

    }
    .mat-edu {
      border-right: 1pt solid;
      border-color: #707070;
      padding-right: 4pt;
    }
    .blog {
      margin-left: 4pt;

    }
